extends layout

block content
  div
    h1 Create and Update Sermon Notes
    h2 #{sermon.sermon_title}
  div(class='sermonInfo')
    p Sermon #{sermon.order} in #{sermon.seriestitle}
    p Speaker: #{sermon.speaker}
    p Sermon Date: #{sermon.date_delivered}
    p Video URL: #{sermon.video}
    p Active?: #{sermon.active}
    a(class='btn btn-primary' href='/editsermon/' + encodeURIComponent(sermon.sermon_title)) Edit Sermon

  .col-lg-5
    section(class='formContainer')
      div(ng-app='noteForm')
        div(ng-controller='noteController')
            form.form-horizontal
              fieldset
                legend Add Note Items
                .form-group
                  label.col-lg-2.control-label(for='select') Selects
                  .col-lg-10
                    select#select.form-control
                      option
                      option Main verse
                      option Header1
                      option Header2
                      option Header3
                      option Point
                      option Subpoint
                      option Comment
                      option Discussion Question
                      option Verse
                      option Verse Text
                    br
                div(class='form-group')
                  label(class='col-lg-2' for='item_sequence') Item Sequence
                  input(class='col-lg-10' type='number' name='item_sequence')
                .form-group
                  label.col-lg-2.control-label(for='textArea') Textarea
                  .col-lg-10
                    textarea#textArea.form-control(rows='3', data-gramm='', data-txt_gramm_id='472c8796-506d-5615-38e8-dc5110f018a3')
                .form-group 
                .form-group
                  .col-lg-10.col-lg-offset-2
                    button.btn.btn-default(type='reset') Cancel
                    button.btn.btn-primary(type='submit') Submit
    .col-lg-2
    .col-lg-5
      .notesContainer
      



  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js')
  script(src='/javascripts/notesform.js')
  
  
  
  //- div(class='col-lg-10 selectdiv')
  //-   select(name='item_type' id='item_type' ng-model='data.repeatSelect')
  //-     option(ng-repeat='option in data.availableOptions' value='{{option.name}}')
