extends layout

block content
  form(class='form-horizontal' method='post' action='/editsermon/'+encodeURIComponent(sermon.sermon_title))
    fieldset
      div
        legend Edit a sermon
      div(class='form-group')
        label(class='col-lg-2 newSermonLabel' for='series_title') Select a sermon series
        div(class='col-lg-10 selectdiv')
          select(name='seriestitle' id='select')
            each sery in series
              if sery.series_title == sermon.seriestitle
                option(selected value=sery.series_title) #{sery.series_title}
              else 
                option(value=sery.series_title) #{sery.series_title}
      div(class='form-group')
        label(class='col-lg-2 newSermonLabel' for='sermon_title') Sermon Title
        input(class='col-lg-10' type='text' id='sermon_title' name='sermon_title' placeholder='Sermon Title' value=sermon.sermon_title)
      div(class='form-group')
        label(class='col-lg-2 newSermonLabel' for='speaker') Speaker
        input(class='col-lg-10' type='text' id='speaker' name='speaker' placeholder='speaker' value=sermon.speaker)
      div(class='form-group')
        label(class='col-lg-2 newSermonLabel' for='date_delivered') Date Delivered
        input(class='col-lg-10' type='date' id='date_delivered' name='date_delivered' value=sermon.date_delivered) 
      div(class='form-group')
        label(class='col-lg-2 newSermonLabel' for='video') Video URL
        input(class='col-lg-10' type='video' id='video' name='video' value=sermon.video) 
      div(class='form-group')
        label(class='radio-inline newSermonLabel' for='active') Activate
        if sermon.active == true
          input(class='radio-inline' type='radio' name='active' value='true' checked) 
        else
          input(class='radio-inline' type='radio' name='active' value='true') 
        label(class='radio-inline newSermonLabel' for='active') Deactivate
        if sermon.active == false
          input(class='radio-inline' type='radio' name='active' value='false' checked)
        else
          input(class='radio-inline' type='radio' name='active' value='false')
      div(class='form-group')
        button(type='submit' class='btn btn-primary') Submit 
    
