extends layout

block content
  form(action='login', method='post')
    .form-group
      label.col-lg-2 Username
      input(
        type= 'text'
        name= 'user'
        placeholder= 'User Name')
    .form-group
      label.col-lg-2 Password
      input(
        type= 'password'
        name= 'password'
        placeholder= 'Password')
    .form-group
      button(type='submit' class='btn btn-info' id='login') Login
